.asset {
	margin-top: 3rem;
}

.asset__top-section {
	@include flex(row, center, space-between);
}

.asset__title {
	@include flex(row, center, flex-start);
	h3 {
		margin-left: 0.7rem;
	}
	p {
		color: grey;
		margin-left: 0.7rem;
		margin-top: 0.5rem;
		font-weight: 700;
	}
}

.asset__price {
	@include flex(row, center, flext-start);
	p:first-child {
		font-size: $l-size;
		padding-right: 1rem;
	}
}

.asset__chart {
	position: relative;
	min-height: 70vh;
}

.select-tf__focus {
	background-color: rgba($color: $blue, $alpha: 1) !important;
	color: white;
}

.select-tf {
	margin-left: 6rem;
	margin-top: 5rem;
	button {
		border: 1px solid black;
		margin-left: 1rem;
		padding: 0.3rem;
		background-color: white;
		&:hover {
			background-color: rgba($color: $blue, $alpha: 1);
			color: white;
		}
	}
}
