.card {
	height: 9rem;
	background-color: #0e283a;
	width: 20rem;
	border-radius: 4px;
	color: white;
	padding-left: 1.5rem;
	padding-top: 1rem;
}

.card-title {
	font-weight: 300;
	color: #6e88af;
}

.card-value {
	padding-top: 1rem;
	font-size: 2.5rem;
}

.red-card {
	color: #fc3a3a;
}
