.overview {
	height: 90vh;
}

.global-market__list {
	padding: 3rem 0;
	@include flex(row, center, space-between);
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
	list-style: disc;
	span {
		color: $blue;
	}
	li {
		font-size: $s-size;
		@include bp-small {
			display: flex;
			flex-direction: column;
		}
	}
}

.top-coins__title {
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	@include flex(row, center, flex-start);
	button {
		background-color: white;
		margin: 1rem;
		margin-top: 1.3rem;
		.i {
			color: $dark-blue;
		}
	}
}

.top-coins__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 6rem;
	align-items: center;
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.top-coins__name {
	display: flex;
	align-items: center;
	img {
		height: 3rem;
		padding-right: 0.5rem;
	}
}

.top-coins__legend {
	li {
		font-weight: 500;
	}
}

.top-coins__center {
	@include bp-small {
		margin-left: 1rem;
	}
}
