.overview {
	height: 90vh;
}

.global-market__list {
	padding: 3rem 0;
	@include flex(row, center, space-between);
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
	list-style: disc;
	span {
		color: $blue;
	}
	li {
		font-size: $s-size;
		@include bp-small {
			display: flex;
			flex-direction: column;
		}
	}
}

.top-coins__title {
	margin-top: 4rem;
	margin-bottom: 1.5rem;
	@include flex(row, center, flex-start);
	button {
		background-color: white;
		margin: 1rem;
		margin-top: 1.3rem;
		.i {
			color: $dark-blue;
		}
	}
}

.top-coins__grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 6rem;
	align-items: center;
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.top-coins__name {
	display: flex;
	align-items: center;
	img {
		height: 3rem;
		padding-right: 0.5rem;
	}
}

.top-coins__legend {
	p {
		display: inline;
		font-weight: 500;
		cursor: pointer;
	}
}

.top-coins__center {
	@include bp-small {
		margin-left: 1rem;
	}
}

.pagination {
	@include flex(row, center, center);
	width: 50%;
	margin: auto;
	li {
		margin-top: 2rem;
		padding: 0.5rem 1rem;
		a {
			color: black;
			padding: 0.3rem;
			cursor: pointer;
		}
	}
}

.pagination__element {
	&:hover {
		background-color: rgba($color: $blue, $alpha: 0.2);
		transition: 0.2s;
	}
}

.pagination__active {
	background-color: $blue;
	&:hover {
		background-color: $blue;
	}
	a {
		color: white !important;
	}
}
