.hero {
	min-height: 90vh;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.8)),
		url('../../public/images/welcome.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	@include flex(column, center, flex-start);
}

.hero-text {
	width: 60%;
	margin-left: auto;
	margin-top: 7rem;
	@include bp-small {
		width: 100%;
	}
}

h2 {
	padding: 4rem;
}

button {
	background-color: $blue;
	color: white;
	padding: 1.5rem 5rem;
	margin: 4rem;
	&:hover {
		background-color: darken($color: $blue, $amount: 10%);
		transition: 0.3s;
	}
}
