* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	@include bp-medium {
		font-size: 45%;
	}
	@include bp-small {
		font-size: 35%;
	}
}

body {
	font-family: Nunito, Arial, sans-serif;
}

button {
	cursor: pointer;
	border: none;
}

button:disabled {
	cursor: default;
}

ul {
	list-style: none;
}

li,
button,
label,
input,
a,
p {
	font-size: $m-size;
	font-weight: 300;
}

a {
	text-decoration: none;
}

h1,
h3 {
	font-size: $l-size;
	font-weight: 700;
}

h2 {
	font-size: $xl-size;
	font-weight: 400;
}

main {
	width: 90%;
	margin: auto;
}
