@mixin flex($direction, $align, $justify) {
	display: flex;
	text-align: center;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin bp-medium {
	@media screen and (max-width: 900px) {
		@content;
	}
}

@mixin bp-small {
	@media screen and (max-width: 650px) {
		@content;
	}
}

@mixin bp-dashboard {
	@media screen and (max-width: 1320px) {
		@content;
	}
}

@mixin bp-dashboard-small {
	@media screen and (max-width: 340px) {
		@content;
	}
}
