@mixin flex($direction, $align, $justify) {
	display: flex;
	text-align: center;
	flex-direction: $direction;
	align-items: $align;
	justify-content: $justify;
}

@mixin bp-medium {
	@media screen and (max-width: 1000px) {
		@content;
	}
}

@mixin bp-small {
	@media screen and (max-width: 600px) {
		@content;
	}
}
